node_modules/
dist/
.idea/
.vscode/
coverage/
*.log

# Terraform specific files
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc